*{
    marin: 0px;
    padding: 0px;
}
#out{
    border:solid 1px;
    height: 640px;
    background-image: url(pizza.webp);
    background-repeat: no-repeat;
    background-size: 1300px 640px;
}
h1{color: aliceblue;}
h1{font-size: 45px;
margin-top: 20px;
}
#register,#login
{
    height: 60px;width: 150px;
    background-color: rgb(191, 218, 41);
}
#register{
    margin-left: 50px;
}
#register a,#login a {
    color: black;
    font-size: 21px;
    text-decoration:none;
  }
#register:hover{
    background-color: beige;
}
#login:hover{
    background-color: beige;
}